# Visual Studio Files
*.suo
*.sln

# Source Data is too big for git 
source/
partitions/
seed-*.txt

# Vagrant & Docker
.cache/
.docker/
.vagrant/
.bash_history

# python
__pycache__/

# Dont store credentials
.env
