# Visual Studio Files
*.suo
*.sln

# Source Data is too big for git 
source/
partitions/
seed-*.txt

# Vagrant & Docker
.cache/
.docker/
.vagrant/
.bash_history
.bash_profile

# python
__pycache__/
*.pyc

# Dont store credentials
.env
