/*
    Bootstrap Overrides
*/

.breadcrumb {
  font-size: x-large;
  background-color: #fff;
}

.glyphicon-none:before {
    content: "\2212";
    color: transparent !important;
}

/*
    Closest document table 
 */

table.closest {
  overflow: auto;
}

th.rotate {
  /* Something you can count on */
  /* height: 100px; */
  white-space: nowrap;
}

th.rotate div {
  transform: 
    /* Magic Numbers */
    translate(0px, -5px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}

table.closest td {
  border-right: 1px solid #ccc;
}

table.closest td.center {
  text-align: center;
  vertical-align: middle;
}
